.planets{
    &.scene{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: calc(100vh - 200px);
        @media all and (max-width: 567px){
            flex-direction: column;
            height: 100%;
            margin-top: 20px;
        }
    }
    .planet{
        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 400px;
        .content{
            position: absolute;
            span{
                display: block;
            }
        }
        &.content-left{
            .content{
                left: 0;
                @media all and (max-width: 567px){
                    float: none;
                    text-align: center;
                }
            }
        }
        &.content-right{
            .content{
                right: 0;
                @media all and (max-width: 567px){
                    float: none;
                    text-align: center;
                }
            }
        }
    }
}